@font-face {
  font-family: "NotoKufiArabic";
  src: url("../font/NotoKufiArabic-Medium.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "NotoKufiArabic", sans-serif;
  box-sizing: border-box;
  text-align: right;
  direction: rtl;
  height: 50000px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

transition, .footer .main .list li a, .up-footer .subscribe .btn-sub, .up-footer .subscribe input, .up-footer .social li .icon, .contact form .btn-send, .contact form input, .contact .contact-info .icon, .contact .contact-info .text a, .contact .contact-info .text h5, .about-us .read-more, .info .box .bg-color, .info .box, .package .boxing .box .buy-now, .package .boxing .box::before, .package .boxing .box .title .name, .programe .timeline .text h4, .services .box .text .see-more, .services .box .img::after, .services .box, .slider .text .submit, .navbar-scroll, .navbar .navbar-menu li a, .navbar .navbar-menu li, .navbar, .up-navbar .left li a .icon,
.up-navbar .right li a .icon, .up-navbar .left li a,
.up-navbar .right li a {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.font-bold {
  font-weight: bold;
}

.swiper-pagination {
  text-align: left !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background: #21232f;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .swiper-pagination {
    text-align: center !important;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .swiper-pagination {
    text-align: center !important;
  }
}

.main-title {
  margin: 40px 0;
  text-align: center;
}
.main-title h2 {
  color: #ff6b6b;
  text-align: center;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  background: transparent;
  padding: 10px;
  margin: 15px 0;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.main-title h2::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -50px;
  width: 40px;
  height: 4px;
  background-color: #ff6b6b;
}
.main-title h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -50px;
  width: 40px;
  height: 4px;
  background-color: #ff6b6b;
}
@media (min-width: 576px) and (max-width: 767px) {
  .main-title h2 {
    font-size: 17px;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .main-title h2 {
    font-size: 15px;
  }
}
.main-title p {
  color: #6B6B6B;
  font-size: 14px;
  text-align: center;
}
@media (min-width: 576px) and (max-width: 767px) {
  .main-title p {
    font-size: 12px;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .main-title p {
    font-size: 12px;
  }
}

.up-navbar {
  background: #f4f4f4;
}
.up-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.up-navbar .right li {
  position: relative;
}
.up-navbar .right li::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  background: #a4a2a7;
}
.up-navbar .left li {
  position: relative;
}
.up-navbar .left li::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  background: #e9e9e9;
}
.up-navbar .left li:last-child {
  background-color: #e2e2e2;
  color: #000;
  font-weight: bold;
}
.up-navbar .left li:last-child::after {
  content: "";
  display: none;
}
@media (min-width: 576px) and (max-width: 767px) {
  .up-navbar .left li:last-child {
    display: inline-block !important;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .up-navbar .left li:last-child {
    display: inline-block !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .up-navbar .left li:not(last-child) {
    display: none !important;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .up-navbar .left li:not(last-child) {
    display: none !important;
  }
}
.up-navbar .left,
.up-navbar .right {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.up-navbar .left li,
.up-navbar .right li {
  padding: 7px 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .up-navbar .left li,
.up-navbar .right li {
    padding: 7px 5px;
  }
}
.up-navbar .left li a,
.up-navbar .right li a {
  color: #707070;
  font-size: 13px;
}
.up-navbar .left li a .icon,
.up-navbar .right li a .icon {
  color: #a4a2a7;
  font-size: 14px;
  padding-left: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .up-navbar .left li a .icon,
.up-navbar .right li a .icon {
    padding-left: 5px;
    font-size: 11px;
  }
}
.up-navbar .left li a:hover,
.up-navbar .right li a:hover {
  text-decoration: none;
  color: #ff6b6b;
}
.up-navbar .left li a:hover .icon,
.up-navbar .right li a:hover .icon {
  color: #ca3531;
}
@media (min-width: 768px) and (max-width: 991px) {
  .up-navbar .left li a,
.up-navbar .right li a {
    font-size: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .up-navbar .left li a,
.up-navbar .right li a {
    font-size: 12px;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .up-navbar .left li a,
.up-navbar .right li a {
    font-size: 12px;
  }
}
.up-navbar .support {
  padding: 0 0 0 5px !important;
}
.up-navbar .support a {
  padding: 7px 0;
}
.up-navbar .support .support-icon,
.up-navbar .support .support-text {
  display: inline-block;
}
.up-navbar .support .support-icon {
  background-color: #21232f;
  position: relative;
  padding: 10px 0;
  width: 45px;
  height: 100%;
  text-align: center;
}
.up-navbar .support .support-icon::after {
  content: "";
  position: absolute;
  width: 10px;
  left: -10px;
  height: 10px;
  z-index: 99;
  background-color: #21232f;
  transform: translate(50%, 50%) rotate(45deg);
  -webkit-transform: translate(50%, 50%) rotate(45deg);
  -moz-transform: translate(50%, 50%) rotate(45deg);
  -ms-transform: translate(50%, 50%) rotate(45deg);
  -o-transform: translate(50%, 50%) rotate(45deg);
}
@media (min-width: 768px) and (max-width: 991px) {
  .up-navbar .support .support-icon::after {
    left: -7px;
  }
}
.up-navbar .support .support-icon .icon {
  padding-left: 0 !important;
  color: #ff6b6b !important;
}
.up-navbar .support .support-text {
  background-color: #ff6b6b;
  color: #21232f;
  padding: 10px;
  position: relative;
  right: -5px;
  padding-right: 15px;
  padding-left: 15px;
  height: 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .up-navbar .support .support-text {
    background-color: #ff6b6b;
    padding-right: 10px;
    padding-left: 5px;
  }
}

/**
 *
 * Start Navbar
 *
 */
.navbar {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100px;
  border-bottom: 2px solid #f5f5f3;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    height: 142px;
  }
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar .container {
    flex-direction: column;
  }
}
.navbar .logo {
  max-width: 100%;
  margin: 0 15px;
}
.navbar .logo img {
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar .logo {
    padding: 10px 0;
  }
}
.navbar .navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar .navbar-menu li {
  padding: 0 17px;
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #f5f5f3;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  cursor: pointer;
}
.navbar .navbar-menu li a {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: #21232f;
  text-decoration: none;
  font-size: 16px;
  gap: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-menu li a {
    font-size: 13px;
  }
}
.navbar .navbar-menu li:hover {
  color: #fff;
  background-color: #ff6b6b;
  border-bottom: 2px solid #ca3531;
  text-decoration: none;
}
.navbar .navbar-menu li:last-child {
  border-left: 1px solid transparent;
}
.navbar .navbar-menu li:hover a {
  color: #fff;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-menu li {
    height: 70px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .navbar .navbar-menu {
    display: none;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .navbar .navbar-menu {
    display: none;
  }
}

.navbar-scroll {
  height: 75px !important;
  position: fixed !important;
  top: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  background-color: rgba(33, 35, 47, 0.7);
  border-bottom: 2px solid #ff6b6b;
}
.navbar-scroll .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-scroll .navbar-menu li {
  height: 75px;
  border-bottom: 2px solid #ff6b6b;
}
.navbar-scroll .navbar-menu li a {
  font-size: 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-scroll {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .navbar-scroll {
    display: none;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .navbar-scroll {
    display: none;
  }
}

.slider {
  height: calc(100vh - 160px);
  width: 100%;
}
.slider .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 250px;
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
}
.slider .text h1 {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  line-height: 1.8;
  letter-spacing: 2px;
  margin-bottom: 85px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .slider .text h1 {
    font-size: 15px;
    margin: 80px 60px 70px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .slider .text h1 {
    font-size: 15px;
    margin: 80px 60px 70px;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .slider .text h1 {
    font-size: 15px;
    margin: 80px 50px 70px;
  }
}
.slider .text .submit {
  padding: 12px 50px;
  color: #21232f;
  font-size: 17px;
  background-color: #ff6b6b;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
  cursor: pointer;
}
.slider .text .submit:hover {
  color: #fff;
  background-color: #21232f;
}
@media (min-width: 576px) and (max-width: 767px) {
  .slider .text .submit {
    padding: 10px 35px;
    font-size: 14px;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .slider .text .submit {
    padding: 10px 35px;
    font-size: 14px;
  }
}
.slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
  background: rgba(33, 35, 47, 0.5);
}
.slider .swiper-button-next:after,
.slider .swiper-button-prev:after {
  font-family: "Font Awesome 5 Free";
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  font-weight: 900;
  font-size: 20px;
  color: #fff;
  padding: 40px 12px;
  background-color: #353743;
}
@media (min-width: 768px) and (max-width: 991px) {
  .slider .swiper-button-next:after,
.slider .swiper-button-prev:after {
    font-size: 15px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .slider .swiper-button-next:after,
.slider .swiper-button-prev:after {
    font-size: 12px;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .slider .swiper-button-next:after,
.slider .swiper-button-prev:after {
    font-size: 12px;
  }
}
.slider .swiper-button-prev:after,
.slider .swiper-rtl .swiper-button-next:after {
  content: "\f053";
}
.slider .swiper-button-next:after,
.slider .swiper-rtl .swiper-button-prev:after {
  content: "\f054";
}
.slider .swiper-button-prev,
.slider .swiper-rtl .swiper-button-next {
  left: 2px;
  right: auto;
}
.slider .swiper-button-next,
.slider .swiper-rtl .swiper-button-prev {
  right: 2px;
  left: auto;
}

.services {
  margin: 10px 0 40px;
}
.services .box {
  margin: 15px 0;
  padding: 20px;
  border: 1px solid #a4a2a7;
  display: flex;
  gap: 10px;
}
.services .box .img {
  width: 265px;
  height: 90px;
  display: flex;
  padding: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -o-object-fit: contain;
  object-fit: contain;
  text-align: center;
  margin: 0 auto;
  background-color: #ff6b6b;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translate(10px, 10px);
}
.services .box .img img {
  color: #21232f;
  text-align: center;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.services .box .img::after {
  content: "";
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 1px solid #a4a2a7;
  cursor: pointer;
}
.services .box .img::after:hover {
  border: 1px solid #ff6b6b;
}
.services .box .text {
  padding: 0 15px;
}
.services .box .text h3 {
  font-size: 16px;
  text-align: right;
  color: #ff6b6b;
  font-weight: bold;
  margin-bottom: 15px;
}
.services .box .text p {
  font-size: 12px;
  color: #a4a2a7;
  line-height: 1.8;
}
.services .box .text .see-more {
  color: #fff;
  background-color: #3E3E40;
  padding: 5px 20px;
  font-size: 13px;
  text-align: center;
  position: relative;
  right: 70%;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.services .box .text .see-more:hover {
  background-color: #ff6b6b;
}
.services .box:hover {
  border: 1px solid #ff6b6b;
  cursor: pointer;
}
.services .box:hover .see-more {
  background-color: #ff6b6b;
}

.programe {
  margin: 30px 0;
  padding: 15px 0 40px;
  background-color: #f9f9fb;
}
.programe .flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 30px 0;
}
.programe .timeline {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.programe .timeline .icon {
  border: 2px solid #a4a2a7;
  width: 130px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #21232f;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0) and (max-width: 576px) {
  .programe .timeline .icon {
    width: 90px;
  }
}
.programe .timeline .icon .icons {
  color: #ff6b6b;
  text-align: center;
  margin: 0 auto;
  font-size: 35px;
}
.programe .timeline .icon::after {
  content: "";
  position: absolute;
  height: 110px;
  width: 2px;
  background: #a4a2a7;
  bottom: -110px;
}
.programe .timeline .last-icon::after {
  content: "";
  display: none !important;
}
.programe .timeline .text {
  padding: 0 25px;
}
.programe .timeline .text h4 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ff6b6b;
}
.programe .timeline .text h4:hover {
  color: #21232f;
}
.programe .timeline .text p {
  color: #3E3E40;
  font-size: 13px;
}
.programe .timeline:hover {
  cursor: pointer;
}
.programe .timeline:hover .icon {
  border: 2px solid #ff6b6b;
}
.programe .timeline:hover h4 {
  color: #21232f;
}
.programe .timeline-mobile {
  max-width: 100%;
}
@media (min-width: 576px) and (max-width: 767px) {
  .programe .timeline-mobile {
    display: none;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .programe .timeline-mobile {
    display: none;
  }
}

.package .boxing {
  padding: 80px 0 60px;
}
.package .boxing .box {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}
.package .boxing .box .title {
  display: flex;
  align-content: center;
  align-items: center;
  height: 90px;
  padding: 0;
  width: 100%;
  justify-content: space-around;
  margin: 0;
}
.package .boxing .box .title .name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: rgba(33, 35, 47, 0.8) url(../img/slic.png) no-repeat;
  background-size: cover;
  height: 100%;
  width: 65%;
  padding: 0;
  margin: 0;
  border-left: 1px solid #e0e0e0;
}
.package .boxing .box .title .name .icon {
  font-size: 25px;
}
.package .boxing .box .title .name h5 {
  margin: 0;
  padding: 5px 0;
  font-size: 17px;
}
.package .boxing .box .title .price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 35%;
  color: #ff6b6b;
  background-color: #21232f;
}
.package .boxing .box .title .price span {
  display: block;
  font-size: 13px;
  padding: 0 4px;
}
.package .boxing .box:hover .name {
  background: rgba(255, 107, 107, 0.8) url(../img/slic.png) no-repeat;
  background-size: cover;
}
.package .boxing .box:hover::before {
  content: "";
  background-color: #21232f;
}
.package .boxing .box .body {
  display: flex;
  height: 140px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
}
.package .boxing .box .body .sms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 7px;
  position: relative;
  height: 100%;
}
.package .boxing .box .body .sms .icon {
  color: #232227;
}
.package .boxing .box .body .sms span {
  display: block;
  color: #ff6b6b;
  font-weight: bold;
}
.package .boxing .box .body .sms p {
  font-size: 14px;
  color: #555555;
  font-weight: bold;
  margin-bottom: 0;
}
.package .boxing .box .body .sms-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 7px;
  width: 50%;
  height: 100%;
}
.package .boxing .box .body .sms-price span {
  color: #ff6b6b;
  font-weight: bold;
}
.package .boxing .box .body .sms-price p {
  font-size: 14px;
  color: #555555;
  font-weight: bold;
  margin-bottom: 0;
}
.package .boxing .box .body .sms-price:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #e0e0e0;
  top: 0;
  right: 0;
}
.package .boxing .box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #ff6b6b;
  top: -7px;
}
.package .boxing .box .buy-now {
  background-color: #f8f8f8;
  width: 100%;
  padding: 8px 0;
  margin: 7px 0;
  text-align: center;
  color: #ff6b6b;
  font-size: 14px;
  display: flex;
  justify-content: center;
}
.package .boxing .box .buy-now:hover {
  background-color: #ff6b6b;
  color: #21232f;
  font-weight: bold;
}
.package .boxing .box .buy-now:hover .sms-price:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #a4a2a7;
  top: 0;
  right: 0;
}
@media (min-width: 576px) and (max-width: 767px) {
  .package .boxing .box {
    width: 250px;
    margin: 0 auto;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .package .boxing .box {
    width: 250px;
    margin: 0 auto;
  }
}

.info {
  margin: 20px 0;
  background-image: url(../img/bg-clnt.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
}
.info .flex {
  display: flex;
  flex-direction: row;
}
@media (min-width: 576px) and (max-width: 767px) {
  .info .flex {
    order: 2;
    justify-content: center;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .info .flex {
    order: 2;
    justify-content: center;
  }
}
.info .box {
  max-height: 140px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0 5px;
}
.info .box span {
  text-align: center;
  font-size: 16px;
  color: #21232f;
  height: 45px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .info .box span {
    font-size: 13px;
    font-weight: 300;
  }
}
.info .box .bg-color {
  background-color: #21232f;
  color: #ff6b6b;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info .box:hover {
  cursor: pointer;
}
.info .box:hover .bg-color {
  background-color: #ff6b6b;
  color: #21232f;
}
@media (min-width: 576px) and (max-width: 767px) {
  .info .box {
    order: 2;
    margin-bottom: 10px;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .info .box {
    order: 2;
    margin-bottom: 10px;
  }
}
.info .main-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;
  background-color: #fff;
  margin-bottom: 0;
}
.info .main-box h3 {
  margin: 0 0 5px 0;
  font-size: 25px;
  color: #21232f;
  font-weight: bold;
}
.info .main-box p {
  margin: 0;
  font-size: 18px;
  color: #ff6b6b;
  font-weight: bold;
}
@media (min-width: 576px) and (max-width: 767px) {
  .info .main-box {
    order: 1;
    margin-bottom: 30px;
    margin-bottom: 30px;
    max-width: 320px;
    margin: 0 auto 30px;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .info .main-box {
    order: 1;
    margin-bottom: 30px;
    max-width: 320px;
    margin: 0 auto 30px;
  }
}

.about-us {
  margin: 60px 0;
}
.about-us .title-about {
  padding: 10px;
  display: block;
  border-bottom: 1px solid #e9e9e9;
}
.about-us .title-about h3 {
  text-align: right;
  font-size: 18px;
  color: #ff6b6b;
  margin: 5px 0;
  font-weight: bold;
}
@media (min-width: 576px) and (max-width: 767px) {
  .about-us .title-about h3 {
    font-size: 15px;
    text-align: center;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .about-us .title-about h3 {
    font-size: 15px;
    text-align: center;
  }
}
.about-us .title-about p {
  text-align: right;
  font-size: 14px;
  color: #a4a2a7;
  margin-bottom: 3px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .about-us .title-about p {
    font-size: 12px;
    text-align: center;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .about-us .title-about p {
    font-size: 12px;
    text-align: center;
  }
}
.about-us .about-text {
  padding: 20px 0;
  position: relative;
}
.about-us .about-text .img {
  width: 200px;
  height: 200px;
  background-color: #21232f;
  display: inline-block;
  float: right;
  margin-left: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .about-us .about-text .img {
    width: 100%;
    display: block;
    float: none;
    margin-bottom: 20px;
  }
}
.about-us .about-text p {
  color: #a4a2a7;
  font-size: 13px;
  line-height: 1.8;
  margin-bottom: 20px;
}
@media (min-width: 0) and (max-width: 576px) {
  .about-us .about-text p {
    font-size: 12px;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .about-us .about-text p {
    font-size: 11px;
  }
}
.about-us .read-more {
  width: 150px;
  font-size: 13px;
  color: #fff;
  background-color: #ff6b6b;
  text-align: center;
  padding: 8px 0;
  border-radius: 5px;
  position: relative;
  left: -75%;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.about-us .read-more:hover {
  background-color: #21232f;
  color: #ff6b6b;
}
@media (min-width: 576px) and (max-width: 767px) {
  .about-us .read-more {
    margin: 0 auto;
    left: auto;
    display: block;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .about-us .read-more {
    margin: 0 auto;
    left: auto;
    display: block;
  }
}
.about-us .accordion {
  padding: 80px 0 0;
}
.about-us .accordion .btn-link {
  border: none;
  color: #ff6b6b;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}
.about-us .accordion .btn-link:focus {
  outline: none;
  border: none;
}
.about-us .accordion .btn-link .icon {
  color: #ff6b6b;
}
.about-us .accordion .show {
  color: #ff6b6b !important;
}
.about-us .accordion .card {
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}
.about-us .accordion .card-header {
  display: block;
  border: 1px solid #ff6b6b;
  cursor: pointer;
  padding: 5px;
  margin: 2px 0;
}
.about-us .accordion .card-body {
  font-size: 13px;
  color: #a4a2a7;
  line-height: 1.8;
  box-shadow: none;
}
@media (min-width: 0) and (max-width: 576px) {
  .about-us .accordion {
    padding: 20px 0;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .about-us {
    margin: 30px 0;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .about-us {
    margin: 30px 0;
  }
}

.network-section {
  padding: 5px 0;
  background: #f9f9fb;
  width: 100%;
}
.network-section .network {
  overflow-x: hidden;
  padding: 30px 0 20px;
  cursor: pointer;
}
.network-section .network .img {
  max-width: 150px;
  height: 100px;
  position: relative;
  margin: 0 auto;
}
.network-section .network .img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.network-section .network .img::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #e0e0e0;
  left: -35px;
}
.network-section .network .swiper-wrapper {
  padding-bottom: 80px;
}
.network-section .network .swiper-pagination-bullet-active {
  background: #ff6b6b;
}
.network-section .network .swiper-pagination {
  position: fixed;
}

.contact {
  padding: 10px 0 40px;
}
.contact .contact-info {
  display: flex;
  margin: 50px 0;
}
.contact .contact-info .text {
  margin-right: 20px;
}
.contact .contact-info .text h5 {
  color: #21232f;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}
.contact .contact-info .text a {
  display: block;
  color: #656565;
  font-size: 13px;
}
.contact .contact-info .text a:hover {
  color: #ca3531;
}
.contact .contact-info .icon {
  width: 75px;
  height: 75px;
  display: flex;
  border: 2px solid #a4a2a7;
  border-radius: 50%;
}
.contact .contact-info .icon-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #21232f;
  background-color: #ff6b6b;
  padding: 25px;
  line-height: 15px;
  font-size: 25px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  overflow: hidden;
}
.contact .contact-info:hover .icon {
  border: 2px solid #21232f;
  cursor: pointer;
}
.contact .contact-info:hover h5 {
  color: #ff6b6b;
  cursor: pointer;
}
.contact form {
  margin-top: 40px;
  position: relative;
}
.contact form label {
  color: #6d6d6d;
  font-size: 13px;
  padding: 5px;
}
.contact form input {
  border: 1px solid #e2e2e2;
  padding: 7px 5px;
  border-radius: 0;
}
.contact form input:focus {
  outline: none;
  border: 1px solid #ff6b6b;
  box-shadow: none;
}
.contact form textarea {
  padding: 5px;
  resize: none;
  height: 140px;
  display: block;
  width: 100%;
  border: 1px solid #e2e2e2;
}
.contact form textarea:focus {
  outline: none;
  border: 1px solid #ff6b6b;
  box-shadow: none;
}
.contact form .btn-send {
  position: relative;
  left: -80%;
  padding: 7px 5px;
  width: 150px;
  color: #fff;
  background-color: #ff6b6b;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
.contact form .btn-send:hover {
  background: #21232f;
}

.up-footer {
  padding: 0;
  background-color: #ff6b6b;
  overflow: hidden;
}
.up-footer .flex {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 0;
}
.up-footer .flex:first-child:after {
  content: "";
  position: absolute;
  left: 20px;
  width: 1px;
  height: 100%;
  background: #ff8984;
}
@media (min-width: 0) and (max-width: 576px) {
  .up-footer .flex:last-child {
    display: flex;
    flex-direction: column;
  }
}
.up-footer .social {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.up-footer .social li {
  padding: 0 5px;
}
.up-footer .social li .icon {
  padding: 12px;
  line-height: 8px;
  font-size: 12px;
  height: 17px;
  width: 17px;
  text-align: center;
  color: #fff;
  background-color: #d05158;
  border-radius: 50%;
}
.up-footer .social li .icon:hover {
  background: #21232f;
}
.up-footer .subscribe {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.up-footer .subscribe span {
  padding-left: 5px;
  color: #21232f;
  font-size: 13px;
  font-weight: bold;
}
.up-footer .subscribe span .icon {
  font-size: 17px !important;
  padding-left: 5px;
}
.up-footer .subscribe input {
  width: 39%;
  height: 35px;
  padding: 5px;
  background-color: #ff6b6b;
  border: 1px solid #ffadb2;
}
.up-footer .subscribe input::foucs {
  border: 1px solid #21232f;
}
.up-footer .subscribe ::-moz-placeholder {
  color: #21232f !important;
  font-size: 13px;
  padding: 5px 7px;
}
.up-footer .subscribe :-ms-input-placeholder {
  color: #21232f !important;
  font-size: 13px;
  padding: 5px 7px;
}
.up-footer .subscribe ::placeholder {
  color: #21232f !important;
  font-size: 13px;
  padding: 5px 7px;
}
.up-footer .subscribe .btn-sub {
  background: #21232f;
  margin: 0 5px;
  text-align: center;
  padding: 6px;
  width: 120px;
  color: #fff;
}
.up-footer .subscribe .btn-sub:hover {
  background: #d05158;
}

.footer {
  background: #21232f;
  padding: 60px 0 0;
}
.footer .main {
  padding: 20px 0 40px;
}
.footer .main h1 {
  font-size: 20px;
  font-weight: bold;
  color: #ff6b6b;
  padding-right: 10px;
  position: relative;
  padding-bottom: 15px;
  border-bottom: 1px solid #3d3f4b;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer .main h1 {
    font-size: 15px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .footer .main h1 {
    font-size: 14px;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .footer .main h1 {
    font-size: 14px;
  }
}
.footer .main .list {
  margin: 0;
  padding-top: 15px;
  list-style: disc;
  color: #50535a;
}
.footer .main .list li {
  padding: 4px 0;
}
.footer .main .list li a {
  color: #fff;
  font-size: 13px;
}
.footer .main .list li a:hover {
  color: #ff6b6b;
}
@media (min-width: 576px) and (max-width: 767px) {
  .footer .main .list li a {
    font-size: 12px;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .footer .main .list li a {
    font-size: 11px;
  }
}
.footer .box-footer {
  background: #2e303c;
  width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 60px 0;
}
.footer .box-footer .text {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  justify-content: center;
}
.footer .box-footer h4 {
  font-size: 17px;
  color: #ff6b6b;
  margin: 0;
  padding: 0;
}
.footer .box-footer p {
  font-size: 17px;
  margin: 0;
  padding: 5px 0;
  color: #fff;
}
.footer .box-footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 50px;
  align-items: center;
}
.footer .box-footer ul li {
  padding: 0 7px;
  color: #fff;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .box-footer ul li::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #41434f;
  right: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer .box-footer {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .footer .box-footer {
    display: none;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .footer .box-footer {
    display: none;
  }
}
.footer .copyright {
  background-color: #282a36;
  padding: 30px 0;
}
.footer .copyright .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 576px) and (max-width: 767px) {
  .footer .copyright .container {
    flex-direction: column;
    gap: 15px;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .footer .copyright .container {
    flex-direction: column;
    gap: 10px;
  }
}
.footer .copyright .logo {
  max-width: 100%;
}
.footer .copyright .logo img {
  -o-object-fit: contain;
     object-fit: contain;
}
.footer .copyright .text p {
  margin: 0;
  color: #88898e;
  font-size: 13px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .footer .copyright .text p {
    font-size: 11px;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .footer .copyright .text p {
    font-size: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .footer .copyright {
    padding: 15px;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .footer .copyright {
    padding: 15px;
  }
}

.div .circle {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  background: #000;
  color: white;
  font-size: 16px;
  margin: 0 auto 40px;
  border: 1px solid red;
  margin: 20px auto;
  color: red;
}
.div .circle .fa-user {
  font-size: 40px;
}/*# sourceMappingURL=main.css.map */