@use "sass/color" as *;
@use 'sass/mixin' as *;

@font-face {
    font-family: 'NotoKufiArabic';
    src: url("../font/NotoKufiArabic-Medium.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}
// @font-face {
// 	font-family: 'NotoKufiArabic';
// 	src: url('../font/NotoKufiArabic-Regular.ttf') format('truetype');
// 	font-weight: 300;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'NotoKufiArabic';
// 	src: url('../font/NotoKufiArabic-bold.ttf') format('truetype');
// 	font-weight: 500;
// 	font-style: normal;
// }

* {
    box-sizing: border-box;
    outline: none;
}
body {
    font-family: "NotoKufiArabic", sans-serif;
    box-sizing: border-box;
    text-align: right;
    direction: rtl;
    height: 50000px;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
transition {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.font-bold {
    font-weight: bold;
}
// Swiper 
.swiper-pagination {
    text-align: left !important;
    .swiper-pagination-bullet-active {
       background: $second-color;
    }
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        @include breakpoints(small) {
           width: 10px;
           height: 10px;
        }
        @include breakpoints(mobile) {
            width: 10px;
            height: 10px;
        }
    }
    @include breakpoints(small) {
        text-align: center !important;
    }
    @include breakpoints(mobile) {
        text-align: center !important;
    }
}

// main-title
.main-title {
    margin: 40px 0;
    text-align: center;
    h2 {
        color: $main-color;
        text-align: center;
        position: relative;
        font-size: 20px;
        font-weight: bold;
        background: transparent;
        padding: 10px;
        margin: 15px 0;
        display: inline-block;
        width: fit-content;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -50px;
            width: 40px;
            height: 4px;
            background-color: $main-color;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -50px;
            width: 40px;
            height: 4px;
            background-color: $main-color;
        }
        @include breakpoints(small) {
            font-size: 17px;
        }
        @include breakpoints(mobile) {
            font-size: 15px;
        }
    }
    p {
        color: #6B6B6B;
        font-size: 14px;
        text-align: center;
        @include breakpoints(small) {
            font-size: 12px;
        }
        @include breakpoints(mobile) {
            font-size: 12px;
        }
    }
}
// Start UP-NABAR
.up-navbar {
    background: $gray-color-alt;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
    }
    .right {
        li {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                top: 0;
                left: 0;
                background: $gray-color;
            }
        }
    }
    .left {
        li {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                top: 0;
                right: 0;
                background: #e9e9e9;
            }
            &:last-child {
                background-color: #e2e2e2;
                color: $black-color;
                font-weight: bold;
                &::after {
                    content: "";
                    display: none;
                }
                @include breakpoints(small) {
                    display: inline-block !important;
                }
                @include breakpoints(mobile) {
                    display: inline-block !important;
                }
            }
            &:not(last-child) {
                @include breakpoints(small) {
                    display: none !important;
                }
            }
            &:not(last-child) {
                @include breakpoints(mobile) {
                    display: none !important;
                }
            }
        }
    }
    .left,
    .right {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        li {
            padding: 7px 15px;
            @include breakpoints(medium) {
                padding: 7px 5px;
            }

            a {
                color: #707070;
                font-size: 13px;
                @extend transition;
                .icon {
                    color: $gray-color;
                    font-size: 14px;
                    padding-left: 10px;
                    @extend transition;
                    @include breakpoints(medium) {
                        padding-left: 5px;
                        font-size: 11px;
                    }
                }
                &:hover {
                    text-decoration: none;
                    color: $main-color;
                }
                &:hover {
                    .icon {
                        color: $main-color-alt;
                    }
                }
                @include breakpoints(medium) {
                    font-size: 10px;
                }
                @include breakpoints(small) {
                    font-size: 12px;
                }
                @include breakpoints(mobile) {
                    font-size: 12px;
                }
            }
        }
    }
    .support {
        padding: 0 0 0 5px !important;
        a {
            padding: 7px 0;
        }
        .support-icon,
        .support-text {
            display: inline-block;
        }
        .support-icon {
            background-color: #21232f;
            position: relative;
            padding: 10px 0;
            width: 45px;
            height: 100%;
            text-align: center;
            &::after {
                content: "";
                position: absolute;
                width: 10px;
                left: -10px;
                height: 10px;
                z-index: 99;
                background-color: #21232f;
                transform: translate(50%, 50%) rotate(45deg);
                -webkit-transform: translate(50%, 50%) rotate(45deg);
                -moz-transform: translate(50%, 50%) rotate(45deg);
                -ms-transform: translate(50%, 50%) rotate(45deg);
                -o-transform: translate(50%, 50%) rotate(45deg);
                @include breakpoints(medium) {
                    left: -7px;
                }
            }
            .icon {
                padding-left: 0 !important;
                color: #ff6b6b !important;
            }
        }
        .support-text {
            background-color: #ff6b6b;
            color: #21232f;
            padding: 10px;
            position: relative;
            right: -5px;
            padding-right: 15px;
            padding-left: 15px;
            height: 100%;
            @include breakpoints(medium) {
                background-color: #ff6b6b;
                padding-right: 10px;
                padding-left: 5px;
            }
        }
    }

}
// End Up-Navbar

/**
 *
 * Start Navbar
 *
 */
.navbar {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100px;
    border-bottom: 2px solid #f5f5f3;
    @extend transition;
    @include breakpoints(medium) {
        height: 142px;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include breakpoints(medium) {
            flex-direction: column;
        }
    }
    .logo {
        max-width: 100%;
        margin: 0 15px;
        img {
            object-fit: contain;
        }
        @include breakpoints(medium) {
            padding: 10px 0;
        }
    }
    .navbar-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        li {
            padding: 0 17px;
            text-align: center;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 2px solid #f5f5f3;
            border-left: 1px solid #e9e9e9;
            border-right: 1px solid #e9e9e9;
            @extend transition;
            cursor: pointer;
            a {
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;
                color: $second-color;
                text-decoration: none;
                @extend transition;
                font-size: 16px;
                gap: 10px;
                @include breakpoints(medium) {
                    font-size: 13px;
                }
            }
            &:hover {
                color: #fff;
                background-color: $main-color;
                border-bottom: 2px solid $main-color-alt;
                text-decoration: none;
            }
            &:last-child {
                border-left: 1px solid transparent;
            }
            &:hover a {
                color: #fff;
            }
            @include breakpoints(medium) {
                height: 70px;
            }
        }
        @include breakpoints(small) {
            display: none;
        }
        @include breakpoints(mobile) {
            display: none;
        }
    }
}
.navbar-scroll {
    height: 75px !important;
    position: fixed !important;
    top: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    background-color: rgba($second-color, 0.7);
    border-bottom: 2px solid $main-color;
    @extend transition;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-menu {
        li {
            height: 75px;
            border-bottom: 2px solid $main-color;
            a {
                font-size: 15px;
            }
        }
    }
    @include breakpoints(medium) {
        display: none;
    }
    @include breakpoints(small) {
        display: none;
    }
    @include breakpoints(mobile) {
        display: none;
    }
}
// Start Slider Section
.slider {
    height: calc(100vh - 160px);
    width: 100%;
    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 250px;
        position: absolute;
        z-index: 99;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        justify-content: center;
        background: rgba(0,0,0,0.6);
        h1 {
            font-weight: bold;
            font-size: 18px;
            color: #fff;
            line-height: 1.8;
            letter-spacing: 2px;
            margin-bottom: 85px;
            @include breakpoints(medium) {
                font-size: 15px;
                margin: 80px 60px 70px;
            }
            @include breakpoints(small) {
                font-size: 15px;
                margin: 80px 60px 70px;
            }
            @include breakpoints(mobile) {
                font-size: 15px;
                margin: 80px 50px 70px;
            }
        }
        .submit {
            padding: 12px 50px;
            color: $second-color;
            font-size: 17px;
            background-color: $main-color;
            text-align: center;
            font-weight: bold;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
            cursor: pointer;
            @extend transition;
            &:hover {
                color: #fff;
                background-color: $second-color;
            }
            @include breakpoints(small) {
                padding: 10px 35px;
                font-size: 14px;
            }
            @include breakpoints(mobile) {
                padding: 10px 35px;
                font-size: 14px;
            }
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        top: 0;
        left: 0;
        background: rgba($second-color, 0.5);
    }

    // Swiper Arrow

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-family: "Font Awesome 5 Free";
        font-size: var(--swiper-navigation-size);
        text-transform: none!important;
        letter-spacing: 0;
        font-variant: initial;
        line-height: 1;
        font-weight: 900;
        font-size: 20px;
        color: #fff;
        padding: 40px 12px;
        background-color: #353743;

        @include breakpoints(medium) {
            font-size: 15px;
        }
        @include breakpoints(small) {
            font-size: 12px;
        }
        @include breakpoints(mobile) {
            font-size: 12px;
        }
    }
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        content: '\f053';
    }
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
        content: '\f054';
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 2px;
        right: auto;
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 2px;
        left: auto;
    }
}
// End Slider Section
// Start Services
.services {
    margin: 10px 0 40px;
    .box {
        margin: 15px 0;
        padding: 20px;
        border: 1px solid #a4a2a7;
        display: flex;
        gap: 10px;
        @extend transition;
        .img {
            width: 265px;
            height: 90px;
            display: flex;
            padding: 5px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            -o-object-fit: contain;
            object-fit: contain;
            text-align: center;
            margin: 0 auto;
            background-color: #ff6b6b;
            justify-content: center;
            align-items: center;
            position: relative;
            transform: translate(10px, 10px);
            img {
                color: $second-color;
                text-align: center;
                width: 60px;
                height: 60px;
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
            &::after {
                content: "";
                position: absolute;
                background-color: transparent;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                width: 100px;
                height: 100px;
               
                border: 1px solid #a4a2a7;
                cursor: pointer;
                @extend transition;
                &:hover {
                    border: 1px solid $main-color;
                }
            }
        }
        .text {
            padding: 0 15px;
            h3 {
                font-size: 16px;
                text-align: right;
                color: $main-color;
                font-weight: bold;
                margin-bottom: 15px;
            }
            p {
                font-size: 12px;
                color: $gray-color;
                line-height: 1.8;
            }
            .see-more {
                color: #fff;
                background-color: #3E3E40;
                padding: 5px 20px;
                font-size: 13px;
                text-align: center;
                position: relative;
                right: 70%;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
                @extend transition;
                &:hover {
                    background-color: $main-color;
                }
            }
        }
        &:hover {
            border: 1px solid $main-color;
            cursor: pointer;
            .see-more {
                background-color: $main-color;
            }
        }
    }
}
// End Services
// Start Programe
.programe {
    margin: 30px 0;
    padding: 15px 0 40px;
    background-color: #f9f9fb;
    .flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 30px 0;
        }
        
    .timeline {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        .icon {
            border: 2px solid $gray-color;
            width: 130px;
            height: 80px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            background-color: $second-color;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            @include breakpoints(mobile){
                width: 90px;
            }
            .icons {
                color: $main-color;
                text-align: center;
                margin: 0 auto;
                font-size: 35px;
            }
            &::after {
                content: "";
                position: absolute;
                height: 110px;
                width: 2px;
                background: $gray-color;
                bottom: -110px;
            }
        }
        .last-icon {
            &::after {
                content: "";
                display: none !important;
            }
        }
        .text {
            padding: 0 25px;
            h4 {
                font-size: 15px;
                font-weight: bold;
                margin-bottom:15px;
                color: $main-color;
                @extend transition;
                &:hover {
                    color: $second-color;
                }
            }
            p {
                color: #3E3E40;
                font-size: 13px;
            }
        }
        &:hover {
            cursor: pointer;
            .icon {
                border: 2px solid $main-color;
            }
            h4 {
                color: $second-color;
            }
        }
    }
    .timeline-mobile {
        max-width: 100%;
        @include breakpoints(small) {
            display: none;
        }
        @include breakpoints(mobile) {
            display: none;
        }
    }
}

// End Programe
// Start Package
.package {
    // padding: 20px 0;
    .boxing {
        padding: 80px 0 60px;
        .box {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            // width: 250px;
            position: relative;
            cursor: pointer;
            .title {
                display: flex;
                align-content: center;
                align-items: center;
                height: 90px;
                padding: 0;
                width: 100%;
                justify-content: space-around;
                margin: 0;
                .name {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    background: rgba($second-color, 0.8) url(../img/slic.png) no-repeat;
                    background-size: cover;
                    height: 100%;
                    width: 65%;
                    padding: 0;
                    margin: 0;
                    border-left: 1px solid #e0e0e0;
                    @extend transition;
                    .icon {
                        font-size: 25px;
                    }

                    h5 {
                        margin: 0;
                        padding: 5px 0;
                        font-size: 17px;
                    }
                }
                .price {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 35%;
                    color: $main-color;
                    background-color: $second-color;
                    span {
                        display: block;
                        font-size: 13px;
                        padding: 0 4px;
                    }
                }
            }
            &:hover {
                .name {
                    background: rgba($main-color, 0.8) url(../img/slic.png) no-repeat;
                    background-size: cover;
                }
                &::before {
                    content: "";
                    background-color: $second-color;
                }
            }
            
            .body {
                display: flex;
                height: 140px;
                justify-content: center;
                align-items: center;
                border: 1px solid #e0e0e0;
                .sms {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 50%;
                    gap: 7px;
                    position: relative;
                    height: 100%;
                    .icon {
                        color: #232227;
                    }
                    span {
                        display: block;
                        color: $main-color;
                        font-weight: bold;
                    }
                    p {
                        font-size: 14px;
                        color: #555555;
                        font-weight: bold;
                        margin-bottom: 0;
                    }
                }
                .sms-price {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    gap: 7px;
                    width: 50%;
                    height: 100%;
                    span {
                        color: $main-color;
                        font-weight: bold;
                    }
                    p {
                        font-size: 14px;
                        color: #555555;
                        font-weight: bold;
                        margin-bottom: 0;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 1px;
                        background-color: #e0e0e0;
                        top: 0;
                        right: 0;
                    }
                }
            }
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 5px;
                background-color: $main-color;
                top: -7px;
                @extend transition;
        }
        .buy-now {
            background-color: #f8f8f8;
            width: 100%;
            padding: 8px 0;
            margin: 7px 0;
            text-align: center;
            color: $main-color;
            font-size: 14px;
            display: flex;
            justify-content: center;
            @extend transition;
            &:hover {
                background-color: $main-color;
                color: $second-color;
                font-weight: bold;
                .sms-price {
                    &:after {
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 1px;
                        background-color: $gray-color;
                        top: 0;
                        right: 0;
                    }
                }
            }
        }
        @include breakpoints(small){
            width: 250px;
            margin: 0 auto;
        }
        @include breakpoints(mobile){
            width: 250px;
            margin: 0 auto;
         }
        }
    }
}
// End Package
// Start Info 
.info {
    margin: 20px 0;
    background-image: url(../img/bg-clnt.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
    .flex {
        display: flex;
        flex-direction: row;
        @include breakpoints(small) {
            order: 2;
            justify-content: center;
           }
       @include breakpoints(mobile) {
        order: 2;
        justify-content: center;
       }
    }
    .box {
        max-height: 140px;
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        margin: 0 5px;
        @extend transition;
        span {
            text-align: center;
            font-size: 16px;
            color: $second-color;
            height: 45px;
            font-weight: bold;
            display: flex;
            align-items: center;
            @include breakpoints(medium) {
                font-size: 13px;
                font-weight:300;
            }
        }
        .bg-color {
            background-color: $second-color;
            color: $main-color;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @extend transition;
        }

        &:hover {
            cursor: pointer;
            .bg-color {
                background-color: $main-color;
                color: $second-color;
            }
        }
        @include breakpoints(small) {
            order: 2;
            margin-bottom: 10px;
        }
        @include breakpoints(mobile) {
            order: 2;
            margin-bottom: 10px;
        }
    }

    .main-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 140px;
        background-color: #fff;
        margin-bottom: 0;
        h3 {
            margin: 0 0 5px 0;
            font-size: 25px;
            color: $second-color;
            font-weight: bold;
        }
        p {
            margin: 0;
            font-size: 18px;
            color: $main-color;
            font-weight: bold;
        }
        @include breakpoints (small) {
            order: 1;
            margin-bottom: 30px;
            margin-bottom: 30px;
            max-width: 320px;
            margin: 0 auto 30px;
        }
        @include breakpoints (mobile) {
            order: 1;
            margin-bottom: 30px;
            max-width: 320px;
            margin: 0 auto 30px;
        }
    }
}
// End Info
// Start About-us 
.about-us {
    margin: 60px 0;
    .title-about {
        padding: 10px;
        display: block;
        border-bottom: 1px solid #e9e9e9;
        h3 {
            text-align: right;
            font-size: 18px;
            color: $main-color;
            margin: 5px 0;
            font-weight: bold;
            @include breakpoints(small){
                font-size: 15px;
                text-align: center;
            }
            @include breakpoints(mobile){
                font-size: 15px;
                text-align: center;
            }
        }
        p {
            text-align: right;
            font-size: 14px;
            color: $gray-color;
            margin-bottom: 3px;
            @include breakpoints(small){
                font-size: 12px;
                text-align: center;
            }
            @include breakpoints(mobile){
                font-size: 12px;
                text-align: center;
            }
        }
    }
    .about-text {
        padding: 20px 0;
        position: relative;
        .img {
            width: 200px;
            height: 200px;
            background-color: #21232f;
            display: inline-block;
            float: right;
            margin-left: 20px;
            @include breakpoints(medium) {
                width: 100%;
               display: block;
               float: none;
               margin-bottom: 20px;
            }
        }
        p {
            color: #a4a2a7;
            font-size: 13px;
            line-height: 1.8;
            margin-bottom: 20px;
            @include breakpoints(mobile) {
                font-size: 12px;
            }
            @include breakpoints(mobile) {
                font-size: 11px;
            }
        }
    }
    .read-more {
        width: 150px;
        font-size: 13px;
        color: #fff;
        background-color: $main-color;
        text-align: center;
        padding: 8px 0;
        border-radius: 5px;
        position: relative;
        left: -75%;
        display: inline-block;
        justify-content: center;
        align-items: center;
        @extend transition;
        &:hover {
            background-color: $second-color;
            color: $main-color;
        }
        @include breakpoints(small){
            margin: 0 auto;
            left: auto;
            display: block;
        }
        @include breakpoints(mobile){
            margin: 0 auto;
            left: auto;
            display: block;
        }
    }

    .accordion {
        padding: 80px 0 0;
        .btn-link {
            border: none;
            color: $main-color;
            font-size: 14px;
            text-decoration: none;
            cursor: pointer;
            &:focus {
                outline: none;
                border: none;
            }
            .icon {
                color: $main-color;
            }
        }
        .show {
            color: $main-color !important;
        }
        .card {
            border: none;
            border-right: 1px solid rgba(0,0,0,.125);
        }
        .card-header {
            display: block;
            border: 1px solid $main-color;
            cursor: pointer;
            padding: 5px;
            margin: 2px 0;
        }
        .card-body {
            font-size: 13px;
            color: $gray-color;
            line-height: 1.8;
            box-shadow: none;
        }
        @include breakpoints(mobile){
            padding: 20px 0;
        }
    }
    @include breakpoints(small){
        margin: 30px 0;
    }
    @include breakpoints(mobile){
        margin: 30px 0;
    }
}
// End About Us
// Start Network
.network-section {
    padding: 5px 0;
    background: #f9f9fb;
    width: 100%;
    .network {
        overflow-x: hidden;
        padding: 30px 0 20px;
        cursor: pointer;
        .img {
            max-width: 150px;
            height: 100px;
            position: relative;
            margin: 0 auto;
            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
            &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                background: #e0e0e0;
                left: -35px;
            }
        }
        .swiper-wrapper {
            padding-bottom: 80px;
        }
        .swiper-pagination-bullet-active {
            background: $main-color;
         }
         .swiper-pagination {
            position: fixed;
         }
    }
}
// End Network
// Start Contact {
.contact {
    padding: 10px 0 40px;
    .contact-info {
        display: flex;
        margin: 50px 0;
        .text {
            margin-right: 20px;
            h5 {
                color: $second-color;
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 15px;
                @extend transition
            }
            a {
                display: block;
                color: #656565;
                font-size: 13px;
                @extend transition;
                &:hover {
                    color: $main-color-alt;
                }
            }
        }
        .icon {
            width: 75px;
            height: 75px;
            display: flex;
            border: 2px solid $gray-color;
            border-radius: 50%;
            @extend transition
            
        }
        .icon-info {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $second-color;
            background-color: $main-color;
            padding: 25px;
            line-height: 15px;
            font-size: 25px;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            overflow: hidden;
        }
        &:hover {
            .icon {
                border: 2px solid $second-color;
                cursor: pointer;
            }
            h5 {
                color: $main-color;
                cursor: pointer;
            }
            
        }
    }
    // Form
    form {
        margin-top: 40px;
        position: relative;
        label {
            color: #6d6d6d;
            font-size: 13px;
            padding: 5px;
        }
        input {
            border: 1px solid #e2e2e2;
            padding: 7px 5px;
            border-radius: 0;
            @extend transition;
            &:focus {
                outline: none;
                border: 1px solid $main-color;
                box-shadow: none;
            }
        }
        textarea {
            padding: 5px;
            resize: none;
            height: 140px;
            display: block;
            width: 100%;
            border: 1px solid #e2e2e2;
            &:focus {
                outline: none;
                border: 1px solid $main-color;
                box-shadow: none;
            }
        }
        .btn-send {
            position: relative;
            left: -80%;
            padding: 7px 5px;
            width: 150px;
            color: #fff;
            background-color: $main-color;
            text-align: center;
            border: none;
            border-radius: 5px;
            font-size: 15px;
            cursor: pointer;
            @extend transition;
            &:hover {
                background: $second-color;
            }
        }
    }
}
// End Contact
// Start Up-footer
.up-footer {
    padding: 0 ;
    background-color: $main-color;
    overflow: hidden;
    .flex {
        display: flex;
        align-items: center;
        position: relative;
        padding: 10px 0;
        &:first-child:after {
            content: "";
            position: absolute;
            left: 20px;
            width: 1px;
            height: 100%;
            background: #ff8984;
        }
        @include breakpoints(mobile) {
            &:last-child {
                display: flex;
                flex-direction: column;
            }
        }
    }
    .social {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        li {
            padding: 0 5px;
            .icon {
                padding: 12px;
                line-height: 8px;
                font-size: 12px;
                height: 17px;
                width: 17px;
                text-align: center;
                color: #fff;
                background-color: #d05158;
                border-radius: 50%;
                @extend transition ;
                &:hover {
                    background: $second-color;
                }
            }
        }
        
    }
    .subscribe {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        span {
            padding-left: 5px;
            color: $second-color;
            font-size: 13px;
            font-weight: bold;
            .icon {
                font-size: 17px !important;
                padding-left: 5px;
            }
        }
        input {
            width: 39%;
            height: 35px;
            padding: 5px;
            background-color: $main-color;
            border: 1px solid #ffadb2;
            @extend transition;
            &::foucs {
                border: 1px solid $second-color;
            }
        }
        ::placeholder {
            color: $second-color !important;
            font-size: 13px;
            padding: 5px 7px;
         }
    
    .btn-sub {
        background: $second-color;
        margin: 0 5px;
        text-align: center;
        padding: 6px;
        width: 120px;
        color: #fff;
        @extend transition;
        &:hover {
            background: #d05158;
        }
    }
}
}
// End Up-Footer
// Start Footer
.footer {
    background: $second-color;
    padding: 60px 0 0;
    .main {
        padding: 20px 0 40px;
        h1 {
            font-size: 20px;
            font-weight: bold;
            color: $main-color;
            padding-right: 10px;
            position: relative;
            padding-bottom: 15px;
            border-bottom: 1px solid #3d3f4b;
            @include breakpoints(medium) {
                font-size: 15px;
            }
            @include breakpoints(small) {
                font-size: 14px;
            }
            @include breakpoints(mobile) {
                font-size: 14px;
            }
        }
        .list {
            margin: 0;
            padding-top: 15px;
            list-style: disc;
            color: #50535a;
            li {
                padding: 4px 0;
                a {
                    color: #fff;
                    font-size: 13px;
                    @extend transition;
                    &:hover {
                        color: $main-color;
                    }
                    @include breakpoints(small) {
                        font-size: 12px;
                    }
                    @include breakpoints(mobile) {
                        font-size: 11px;
                    }
                }
            }
        }
    }

    .box-footer {
        background: #2e303c;
        width: 100%;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 60px 0;
        .text {
            text-align: center;
            display: flex;
            flex-direction: column;
           padding: 15px;
            align-items: center;
            justify-content: center;
        }
        h4 {
            font-size: 17px;
            color: $main-color;
            margin: 0;
            padding: 0;
        }
        p {
            font-size: 17px;
            margin: 0;
            padding: 5px 0;
            color: #fff;

        }
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            height: 50px;
            align-items: center;
            li {
                padding: 0 7px;
                color: #fff;
                position: relative;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                &::before {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    background: #41434f ;
                    right: 0;
                }
            }
        }
        @include breakpoints(medium) {
            display: none;
        }
        @include breakpoints(small) {
            display: none;
        }
        @include breakpoints(mobile) {
            display: none;
        }

    }
    .copyright {
        background-color:#282a36;
        padding: 30px 0;
        
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include breakpoints(small) {
                flex-direction: column;
                gap: 15px;
            }
            @include breakpoints(mobile) {
                flex-direction: column;
                gap: 10px;
            }
        }
        .logo {
            max-width: 100%;
            img {
                object-fit: contain;
            }
        }
        .text {
            p {
                margin: 0;
                color: #88898e;
                font-size: 13px;
                @include breakpoints(small) {
                    font-size: 11px;
                }
                @include breakpoints(mobile) {
                    font-size: 10px;
                }
            }
        }
        @include breakpoints(small) {
            padding: 15px;
        }
        @include breakpoints(mobile) {
            padding: 15px;
        }
    }
}

// End Footer

.div {
    .circle {
        width: 100px;
        height: 100px;
        line-height: 100px;
        border-radius: 50%;
        text-align: center;
        background: #000;
        color: white;
        font-size: 16px;
        margin: 0 auto 40px;
        border: 1px solid red;
        margin: 20px auto ;
        color: red;
        
        .fa-user {
            font-size: 40px;
        }
           
    }
}